@media (max-width: 1199px) {
    .section-faq-main .title {
        width: 100%;
    }

    .section-faq-main .girl {
        left: -26%;
    }

    .section-faq-main .title h2 {
        font-size: 40px;
        line-height: 45px;
        color: #2f3233;
    }

    .section-qustion-faq .some-qustion .title h3 {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }
}

@media (max-width: 1023px) {
    .section-faq-main .title h2 {
        font-size: 30px;
        line-height: 30px;
        margin: 0 auto 25px 245px;
    }

    .section-faq-main .title {
        padding-top: 75px;
        margin-bottom: 65px;
        padding-bottom: 75px;
    }

    .section-faq-main .title .line, .section-faq-main .title .main-info {
        margin-left: 245px;
    }

    .section-faq-main .girl {
        bottom: -20px;
        left: -35%;
    }

    .section-qustion-faq .some-qustion .title {
        margin-top: 50px;
    }

    .section-qustion-faq .some-qustion .title h3 {
        font-size: 25px;
        line-height: 25px;
    }

    .section-qustion-faq {
        background-image: inherit;
        background: #f6f7f9;
    }

}

@media (max-width: 767px) {
    .section-faq-main .girl {
        display: none;
    }

    .mob_girl {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: -20px;
    }

    .mob_girl img {
        max-width: 90%;
    }

    .section-faq-main .title {
        margin-top: 60px;
        padding-top: 55px;
        margin-bottom: 35px;
        padding-bottom: 55px;
    }

    .section-faq-main .title h2 {
        margin: 0 auto 25px 45px;
    }

    .section-faq-main .title .line, .section-faq-main .title .main-info {
        margin-left: 45px;
    }

    .section-qustion-faq {
        background-image: inherit;
        background: #fff
    }

}

@media (max-width: 640px) {

}

@media (max-width: 480px) {
    .section-faq-main .title h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .section-faq-main .title {
        margin-top: 30px;
        padding-top: 35px;
        margin-bottom: 0;
        padding-bottom: 35px;
    }

    .section-faq-main .title h2 {
        margin: 0 25px 15px 25px;
    }

    .section-faq-main .title .line, .section-faq-main .title .main-info {
        margin-left: 25px;
    }

    .section-faq-main .title .main-info {
        margin-right: 25px;
    }

    .section-faq-main .title .main-info p {
        font-size: 14px;
    }

    .section-qustion-faq .some-qustion .tabs_answers .all .answer_title h4 {
        padding: 10px 20px 10px 10px;
        font-size: 15px;
        line-height: 18px;
    }

    .section-qustion-faq .some-qustion .tabs_answers .all .answer_info p {
        font-size: 13px;
        line-height: 16px;
        margin-right: 10px;
    }

    .section-qustion-faq .some-qustion .tabs_answers .all .answer_info:before {
        width: 9px;
        height: 16px;
        right: -8px;
    }

    .section-qustion-faq .some-qustion .tabs_answers .all .answer_title .arrow {
        width: 9px;
        height: 16px;
        top: 12px;
    }

    .section-qustion-faq .some-qustion .tabs_answers h4:before, .section-qustion-faq .some-qustion .tabs_answers .answer_info:before {
        width: 14px;
        height: 18px;
    }

    .section-qustion-faq .some-qustion .tabs_answers .all .answer_info {
        margin-left: 15px;
        margin-right: 10px;
        position: relative;
    }

    .section-qustion-faq .some-qustion .title h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .section-qustion-faq .some-qustion .title {
        margin-top: 25px;
    }

    .section-qustion-faq .some-qustion .title h3 {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0 25px 25px 25px;
    }

    .section-qustion-faq {
        padding-bottom: 10px;
    }
}